*{
list-style: none;
margin:0;
padding: 0;
text-decoration: none;
color:black;
font-weight: normmal;

}
h1{
    color: blueviolet;
}
h2{
    color: blue;
}
h3{
  color: aqua;  
}
h4{
color: blueviolet;
}
h5{
color: blanchedalmond;
}
h6{
    color: brown;
}
p{
    color: blueviolet;
    padding: 16px;
}
#first{
   color: blue;
   padding: 24Ppx;
}
#second{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: palevioletred;
}